<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wsv.right_light_wsv">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/wsvlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ReturnActivity" />
        <activity android:name=".AddProductActivity" />
        <activity android:name=".MonthlyReportActivity" />
        <activity android:name=".CalendarActivity" />
        <activity
            android:name=".IndividualCustomerDetails"
            android:label="Customer details"
            android:theme="@style/CustomerListTheme" /> <!-- Remove hardcoded JohnDoe -->
        <activity android:name=".RentActivity" />
        <activity
            android:name=".CustomersActivity"
            android:label="Customers list"
            android:theme="@style/CustomerListTheme" >

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".ProductsActivity" />
        <activity android:name=".ProductDetailsActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".VerifyActivity" />
    </application>

</manifest>