<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wsv.right_light_wsv">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/wsvlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".IndividualCustomerDetails"
            android:theme="@style/CustomerListTheme"
            android:label="John Doe"></activity>
      <!--Remove hardcoded JohnDoe -->

        <activity android:name=".RentActivity"></activity>
       

        <activity
            android:name=".CustomersActivity"
            android:label="Customers list"
            android:theme="@style/CustomerListTheme"></activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".ProductsActivity"></activity>
        <activity android:name=".ProductDetailsActivity"></activity>
        <activity android:name=".HomeActivity"></activity>
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".SplashScreenActivity"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".VerifyActivity"></activity>
    </application>

</manifest>